<footer class="site-footer  bg-dark  text-white" >
    <div class="footer-content">
        <div class="copyright">
            &copy; 2025 / Todos los derechos reservados / Big Fish<br>
            Administradores y empleados
        </div>

        <div class="social-media">
            <p>¡Síguenos en nuestras redes sociales!</p>
            <div class="social-icons">
                <i class="fa-brands fa-facebook fa-lg"></i>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <i class="fa-brands fa-instagram fa-lg"></i>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <i class="fa-brands fa-x-twitter fa-lg"></i>
            </div>
        </div>
    </div>
</footer>