<footer class="site-footer  bg-dark  text-white" >
    <div class="footer-content">
        <div class="copyright">
            &copy; 2025 / Todos los derechos reservados / Big Fish<br>
            Administradores y empleados
        </div>

        <div class="social-media">
            <p>¡Síguenos en nuestras redes sociales!</p>
            <div class="social-icons">
                <i class="fa-brands fa-facebook fa-lg"></i>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <i class="fa-brands fa-instagram fa-lg"></i>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <i class="fa-brands fa-x-twitter fa-lg"></i>
            </div>
        </div>
    </div>
</footer>

<style>

.site-footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
    border-top: 1px solid #e7e7e7;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.copyright {
    line-height: 1.5;
}

.social-media p {
    margin-bottom: 10px;
    text-align: right;
}
</style>