<footer class="site-footer bg-dark text-white">
    <div class="footer-content">
        <div class="copyright">
            &copy; 2025 / Todos los derechos reservados / Big Fish<br>
            <a href="/login" class="text-white">Administradores y empleados</a>
        </div>

        <div class="social-media">
            <p>¡Síguenos en nuestras redes sociales!</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/bigfisshh" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/bigfishmx_/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<style>
    .site-footer {
        background-color: #212529;
        padding: 20px 0;
        font-family: Arial, sans-serif;
        color: white;
        border-top: 1px solid #444;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        flex-wrap: wrap;
    }

    .footer-content a {
        color: white;
        text-decoration: none;
    }

    .footer-content a:hover {
        text-decoration: underline;
    }

    .social-media {
        text-align: right;
    }

    .social-icons i {
        margin: 0 8px;
    }
</style>