<nav class="navbar navbar-expand-lg" style="background-color: #393d40">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/pez.png" alt="pez" width="60" height="48">
        </a>

        <div class="container text-center text-white">
            <div class="row">
                <div class="col">
                    <a href="/" class="navbar-link">Inicio</a>
                </div>
                <div class="col">
                    <a href="/menu" class="navbar-link">Menu</a>
                </div>
                <div class="col">
                    <a href="/ubicacion" class="navbar-link">Ubicación, horarios y contacto</a>
                </div>
                <div class="col">
                    <a href="/historia" class="navbar-link">Nuestra historia</a>
                </div>
                <div class="col">
                    <a href="/reserva" class="navbar-link">Reserva</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar-link {
        color: white !important;
        text-decoration: none;
    }
    
    .navbar-link:hover {
        color: #f8f9fa !important; 
        text-decoration: underline; 
    }
</style>
