<nav class="navbar navbar-expand-lg" style="background-color: #393d40">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="pez" width="60" height="48">
        </a>

        <div class="container text-center text-white">
            <div class="row">
                <div class="col">
                    <a href="/">Inicio</a>
                </div>
                <div class="col">
                    <a href="/menu">Menu</a>
                </div>
                <div class="col">
                    <a href="/ubicacion">Ubicación, horarios y contacto</a>
                </div>
                <div class="col">
                    <a href="/historia">Nuestra historia</a>
                </div>
                <div class="col">
                    Reservar
                </div>
            </div>
        </div>
    </div>
</nav>
