<nav class="navbar navbar-expand-lg" style="background-color: #393d40">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="pez" width="60" height="48">
        </a>

        <div class="container text-center text-white">
            <div class="row">
                <div class="col-md-4">
                    Menu
                </div>
                <div class="col-md-4">
                    Ubicación, Horarios y Contacto
                </div>
                <div class="col-md-4">
                    Reservar
                </div>
            </div>
        </div>
    </div>
</nav>
