.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel-inicial{
    margin:auto;
}

.img-carrusel{
    margin:auto;
    width:50%;
    height:60%;
}

.carrusel-flechas{
    background-color:black;
}